.container {
  margin: auto;
  text-align: center;
}


.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
  font-size: 40px;
}

h1 {
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  top: 50%;
}
.btn{
  font-size: 3vw;
  font-family: 'Indie Flower', cursive;
  /* border-radius: 10%; */
  border: 0;
  background-color: #393E46;
}
p {
  font-size: 4.5vw;
  /* color: #4ECCA3; */
  color: white;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 110%;
}
@media only screen and (max-width: 1300px) {
  .container {
    margin-top: 35%;
  }
  .btn{
    font-size: 7vw;
  }
}
footer {
  margin-top: 2%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
